# **MovieLens 100k**

https://grouplens.org/datasets/movielens/100k/

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.sparse import csr_matrix

In [5]:
train_df = pd.read_csv("data/ml-100k/u1.base", sep="\t", header=None)
train_df = train_df.rename(columns={0: "user_id", 1: "item_id", 2: "rating", 3: "timestamp"})
train_df.drop(columns="timestamp", inplace=True)

test_df = pd.read_csv("data/ml-100k/u1.test", sep="\t", header=None)
test_df = test_df.rename(columns={0: "user_id", 1: "item_id", 2: "rating", 3: "timestamp"})
test_df.drop(columns="timestamp", inplace=True)

In [6]:
train_df

       user_id  item_id  rating
0            1        1       5
1            1        2       3
2            1        3       4
3            1        4       3
4            1        5       3
...        ...      ...     ...
79995      943     1067       2
79996      943     1074       4
79997      943     1188       3
79998      943     1228       3
79999      943     1330       3

[80000 rows x 3 columns]

In [10]:
train_table = pd.pivot_table(train_df, values='rating', index='user_id', columns='item_id', fill_value=0)
test_table = pd.pivot_table(test_df, values='rating', index='user_id', columns='item_id', fill_value=0)

train_table

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,0.0,4.0,1.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
matrix = csr_matrix(train_table.values)
matrix_test = csr_matrix(test_table.values)
print(f"Example value: {matrix[0,0]}, {type(matrix[0,0])}")

Example value: 5.0, <class 'numpy.float64'>

In [ ]:
def similarity(a: np.ndarray, b: np.ndarray) -> float: #OBLIGATORIO NUMPY
    a_index = np.where(a!=0)
    b_index = np.where(b!=0)
    intersect = np.intersect1d(a_index, b_index)
    if len(intersect)==0:
        return 0
    union = np.union1d(a_index, b_index)
    factor = len(intersect) / len(union)
    msd = 1/len(intersect) * np.sum((a[intersect]-b[intersect])**2)
    return factor*msd

In [ ]:
def similarity_matrix(matrix: csr_matrix) -> np.ndarray:
    n = matrix.shape[0]
    
    # Define a helper function to compute similarity for a given row index `i`
    def compute_row(i: int):
        row_i = matrix[i].toarray().flatten()
        return list(map(lambda j: similarity(row_i, matrix[j].toarray().flatten()), range(n)))

    # Use map to compute each row of the similarity matrix
    sim_matrix = np.array(list(map(compute_row, range(n))))
    return sim_matrix

def predict_one_user(user_id: int, item: int, sim_matrix: np.ndarray, k: int, table)->np.ndarray:
    # Get the similarity values for the user
    for i in 
    print(row_indices.shape, row_indices)
    sim_values = sim_matrix[user_id-1]
    # Get the indices of the k most similar users
    top_k_users = np.argsort(sim_matrix[row_indices,:])[1:k+1]
    # Get the ratings of the top k users for the item
    ratings = sim_matrix[row_indices,:][top_k_users, item-1].toarray().flatten()
    print(ratings)
    # Get the similarity values of the top k users
    sim_values = sim_values[top_k_users]

    # Compute the predicted rating
    return np.sum(ratings * sim_values) / np.sum(sim_values)

In [ ]:
test_table["user_id"] = test_table.index
matrix1 = similarity_matrix(matrix)

preds = predict_one_user(1, 6, matrix1, 10, test_table)